/plug.app/rt/target/

**/build/
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

*.obj
*.o
*.lib
*.a
*.pdb
*.exe
*.dll
*.so
*.dylib

/plugins/

/release/
/release_linux_*/

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db